#ceux sont les fichiers et dossiers que je ne veux pas indexer, ni sauvager ni envoyer vers Internet 
node_modules
.vscode
.DS_Store
docs/**/*.aux
docs/**/*.fdb_latexmk
docs/**/*.fls
docs/**/*.log
docs/**/*.synctex.gz
docs/**/*.tex