.home-page__main {
  min-height: 100vh;
  background-image: url('../../../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
